<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SomOmgeving" value="PROD" />
    <add key="BooleanFilterBylocation" value="False" />
    <add key="IncludedLocationCode" value="ab;cD;EF;Gh" />    <!-- Gescheiden door Puntcomma  ; -->
    <add key="SchoolUUID" value="00000000-0000-0000-0000-000000000000" />    <!-- Organisatie UUID achterhalen via https://api.somtoday.nl/rest/v1/connect/instelling -->
    <add key="ClientId" value="00000000-0000-0000-0000-000000000000" />    <!-- Op te vragen via het Somtoday Connect Partnerprogramma op: https://som.today/somtoday-connect/contact-partnerprogramma-somtoday-connect/ -->
    <add key="ClientSecret" value="00000000-0000-0000-0000-000000000000" />    <!-- Op te vragen via het Somtoday Connect Partnerprogramma op: https://som.today/somtoday-connect/contact-partnerprogramma-somtoday-connect/ -->
    <add key="OutputFolder" value="C:\SchoolDataSync\CSV\" />
    <add key="SeperateOutputFolderForEachLocation" value="False" />
    <add key="OutputFormatUsernameTeacher" value="Emailadres" />
    <add key="OutputFormatUsernameStudent" value="Emailadres" />
    <add key="EnableGuardianSync" value="False" />
    <add key="ClearCsvAtYearEnd" value="False" />
    <add key="SdsCsvVersion" value="1" />
  </appSettings>
</configuration>
